body{
	background-color: #f8f8f8;
}

.wrap-login{
	margin-top: 100px;
	background-color: #fff;
	border: solid 1px #d0d0d0;
}

#luclogo{
	background-color: #0072C6;
}

.sidebar-wrapper{
 background-color: #0072C6;

}